.c1{
    margin-top: 20px ;
    left: 20px;
}

*{
    font-family: Ubuntu;
}

body{
    /* background: linear-gradient(45deg, #95968d, #dcdbc6e0, #c5c889e0, #98cba9e0); */
    background: linear-gradient(45deg, #272726, #716f59e0, #363938e0, #252b27e0);
    overflow-x: hidden;
}
section{
    min-height: 100vh;
}


/* Dashboard */

.dashboard{
    z-index: 1;
    margin-top: 10vh;
    color: white;
    /* background-color: #2a2a2a60; */
    /* background-color: #0035e381; */
    /* background: linear-gradient(45deg, rgba(112, 94, 13, 0.915),  rgba(197, 165, 24, 0.915),rgba(232, 207, 63, 0.779), rgb(210, 164, 11)); */
    background-color: #d0d0d01e;
    border-radius: 10px;
    border: 1px solid #5a5a5a;
    text-shadow:1px 1px 4px  #4a4a4a;
}

.bottom{
    margin-top: 4vh;    
    min-height: 100vh;
    /* margin-bottom: 10vh; */
    width: 100%;
    left: 0;
    background-color: rgba(27, 27, 28, 0.97);
}

/* Cards */

.card{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 10px;
    background-color: #4a4a4a;
    color: white;
    transition: all 0.7s ease-in-out;
}

.card-text{
    padding-left: 20px;
    font-size: 16px;    
}

.vol{
    padding-left: 60px;
}

.button{
    height: 40px;
    background-color: transparent;
    border: 2px solid #f4cc00;
    width: 25%;
    color: #f4cc00;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.button:hover{
    background-color: #ffd500;
    color: black;
}

/* Cards end */

#map {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}


/* City Filter */

.cityFilter{
    color: white;
    z-index:2;
}

#citySelect{
    width: 55%;
    height: 40px;
    display:inline-block;
    border-radius: 5px;
}

#citySelect:hover{
    cursor: pointer;
}
.SBtn{
    margin-left: 10px;
}

.dynamicLabel{
    margin-left: 10vw;
    color: white;
}

.end{
    margin: 20vh 0px;
}