.c1{
    margin-top: 20px ;
    left: 20px;
}

*{
    font-family: Ubuntu;
}

body{
    /* background: linear-gradient(45deg, #95968d, #dcdbc6e0, #c5c889e0, #98cba9e0); */
    background: linear-gradient(45deg, #62615a, #777459e0, #25322ee0, #1e3225e0);

    overflow-x: hidden;
}
section{
    min-height: 100vh;
}


/* Dashboard */

.dashboard{
    margin-top: 10vh;
    color: white;
    /* background-color: #2a2a2a60; */
    /* background-color: #0035e381; */
    background: linear-gradient(45deg, rgba(112, 94, 13, 0.915),  rgba(197, 165, 24, 0.915),rgba(232, 207, 63, 0.779), rgb(210, 164, 11));
    box-shadow: 0px 2px 7px  #8b8b8b;
    border-radius: 15px;
    border: 1px solid #fffd71;
    text-shadow:1px 1px 4px  #4a4a4a;
}

.bottom{
    margin-top: 4vh;    
    min-height: 100vh;
    /* margin-bottom: 10vh; */
    width: 100%;
    left: 0;
    background-color: rgba(35, 36, 39, 0.97);
}

/* Cards */

.card{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
    background: linear-gradient(45deg,  #424748, #455d54, #1e2629);
    color: white;
    transition: all 0.7s ease-in-out;
}
.card:hover{
    border: 1px solid darkcyan;
    box-shadow: 0px 0px 10px rgba(3, 127, 127, 0.543);
}
.card-text{
    padding: 30px 0;
    font-size: 16px;    
}

.button{
    height: 40px;
    background-color: transparent;
    border: 2px solid #f4cc00;
    width: 25%;
    color: #f4cc00;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.button:hover{
    background-color: #ffd500;
    color: black;
}

.CardC{
    width:80%;
}

/* Cards end */