.nameofNGO{
    padding: 13% 10%;
    color:white;
}

.newDonationBtn, .sendOTPBtn{
    margin: 10px 0px;
    width: 180px;
    height: 50px;
    border: 1px solid rgb(255, 217, 0);
    color:rgb(255, 217, 0);
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.newDonationBtn:hover, .sendOTPBtn:hover{
    background-color: rgb(255, 217, 0);
    border: 1px solid rgb(255, 217, 0);
    color: black;
}

.formDiv{
    background-color: #444444;
    margin-top: 10vh;
    border-radius: 10px;
}
.alert{
    position: absolute;
    width: 100%;
    opacity: 0;
}

.alert.show{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.sendOTPBtn{
    width: 160px;
}

