/* Register Page CSS */
body {
    background-color: #1d1d1d;

}

section{
    min-height: 100vh;
}

*{
    font-family: Ubuntu;
}

.navbar {
    background-color: #141414;
}

.formDiv {
    background-color: #4d4e50;
    margin: 8% 0%;
    border-radius: 0px 20px 20px 0px;
}

.blocks {
    position: relative;
}

.picCont {
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    margin: 8% 0%;
    min-height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    text-align: center;
    text-shadow: 1px 1px 4px #000000;
}

textarea{
    border: none;
    background-color: #878787;
    color: white;
    /* place holder color */
   
}

.form-control{
    background-color: #878787;
    color: white;
    border: none;
    :placeholder {
        color: white;
    };
}

.form-control:focus{
    background-color: #878787;
    color: white;
}

.label{
    padding: 5px 20px;
    margin: 0px 1px;
    border-radius: 5px 5px 0px 0px;
    background-color: white;
}
.in{
    padding: 3px 10px;
}

.rowbg {
    padding: 4px 2px;
    background-color: white;
    margin: 0px 1px;
    border-radius: 0px 0px 5px 5px;
}

/* Login Page CSS */
#feedback {
    height: 220px;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
}

#feedback:focus {
    box-shadow: 0 0 0px 4px #254257;
    outline: none;
    border-color: #254257;
}

.submitBtn{
    width: 160px;
    margin: 10px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    border: 1px solid rgb(255, 217, 0);
    color: rgb(255, 217, 0);
}

.submitBtn:hover{
    background-color: rgb(255, 217, 0);
    color: black;
}

.picCont2 {
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
  margin: 2% 0%;
  min-height: 100%;
  color: white;
  padding: 10%;
  text-align: center;
  text-shadow: 1px 1px 4px #000000;
}

.contactBg{
  background-color: #4d4e50;
  color:white;
  border-radius: 0px 25px 25px 0px;
}

.division{
  margin-top: 10%;
}

.bi{
  font-size: x-large;
  font-weight: 600;
}
.alert{
    position: absolute;
    width: 100%;
    opacity: 0;
}

.alert.show{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.city-dropDown:nth-child(1){
    background-color: #878787;
    color: white;
    border: none;
}

.salary{
    background-color: #878787;
    color: white;
}
